.overlay { 
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target{
    visibility: visible;
    opacity: 1;
  }

  #popupBody{
    width: 46%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC; 	
    /* transition: all 5s ease-in-out; */
    background:white;
    margin-left: 28%;
    margin-top: 15%;
}
 .sesioncillas{
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  gap:15%;
 }
#cerrar{
    position: absolute;
    top: 34%;
    right: 28%;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #371b29;;
    transition: all 200ms;
}
