:root{
    --ColorPrincipal:#8c4469;
    --ColorSecundario:#177e83;
    --FontPrincipal:'Open Sans', sans-serif; 
  
}
html{
    font-size: 62.5%;
}

body{
   font-size: 16px;

   background-color: lavender;

}
*,*::after,*::before{
    box-sizing: inherit;
}
a{
    text-decoration: none;
}
.contenedor{
    width: 65%;
    margin: 0 auto 0 auto;
}
.menu {
    display: flex;
    background-color: var(--ColorPrincipal);
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;
    justify-content: center;
}

.menu a{
    color: beige;
    padding: 0 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.menu a:hover{
    text-decoration: underline ;
    text-decoration-color: var(--ColorSecundario);
    text-decoration-thickness: 3px;
    /*line-height: 2.5;*/
}

.Cartelera{
    color: var(--ColorSecundario);
    padding-top: 100px;
    padding-bottom: 100px;
}

.Proximamente{
    color: var(--ColorSecundario);
}
.peliculas {
    max-width: fit-content;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: repeat(5,1fr);
    gap: 15px;
}
.pelicula {
    text-align: center;
}
.licenciasLegales {
    background-color: var(--ColorPrincipal);
    padding-top: 10px;
    display: flex;
}

    
.licenciasLegales a{
    color: beige;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right:10px
}
.creativeCommons{
    display: flex;
    flex: 34%;
    max-width: 34%;
    justify-content: flex-start;
    flex-direction: column;
}
.creativeCommons a{
    size: 6px;
}
.menuFooter{
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.5;
    display: flex;
    flex: 66%;
    max-width: 66%;
    justify-content: flex-end;
    align-items: center;
}





