:root{
    --ColorPrincipal:#8c4469;
    --ColorSecundario:#177e83;
    --ColorRefuerzo:#371b29;
    --FontPrincipal:'Open Sans', sans-serif; 
  
}
html{
    font-size: 62.5%;
}

body{
   font-size: 16px;

   background-color: lavender;

}
*,*::after,*::before{
    box-sizing: inherit;
}
a{
    text-decoration: none;
}
.contenedor{
    width: 65%;
    margin: 0 auto 0 auto;
}
.contenedor p{
    font-weight:bold;
    padding-bottom: 10;
    }

.menu {
    display: flex;
    background-color: var(--ColorPrincipal);
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;
    justify-content: center;
}

.menu a{
    color: beige;
    font-size: 85%;
    padding: 0 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.menu a:active{
  text-decoration: underline ;
  text-decoration-color: var(--ColorPrincipal);
  background-color: var(--ColorSecundario);
}
.menu a:visited{
  text-decoration: underline ;
  text-decoration-color: var(--ColorPrincipal);
  background-color: var(--ColorSecundario);
}
.menu a:hover{
    text-decoration: underline ;
    text-decoration-color: var(--ColorSecundario);
    text-decoration-thickness: 3px;
    /*line-height: 2.5;*/
}



.Cartelera{
    color: var(--ColorSecundario);
    padding-top: 100px;
    padding-bottom: 100px;
}

.Proximamente{
    color: var(--ColorSecundario);
}
.peliculas {
    max-width: fit-content;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: repeat(5,1fr);
    gap: 15px;
}
.pelicula {
    text-align: center;
}
/*entradas*/
.boletos{
  text-align: center;
}
.entradas{
  
  margin-top: 5%;
}

.ticket {
  flex:65%;
  max-width: 65%;
  display: flex; 
  flex-wrap: wrap;
  justify-content: flex-end;
  gap:5%;
}

.ticket button{


  /*esto de abajo guchi*/
  margin-top: 1%;
  height: 30px;
  width: 30px;
  background-color: var(--ColorSecundario);
  border-radius:20px;
  outline:none;
  color: #fff;
  border-color: var(--ColorSecundario);
  
}
.ticket button:hover{
  border-color: var(--ColorPrincipal);
}

.botonSiguiente button{
  background-color: var(--ColorSecundario);
  border-radius:20px;
  outline:none;
  color: #fff;
  border-color: var(--ColorSecundario);
  margin: 10%;
  padding: 14px;
  font-size: 21px;
}

.botonSiguiente button:hover{
  border-color: var(--ColorPrincipal);
}
/* Promos**/
.promociones  h2{
  color: var(--ColorSecundario);
  text-decoration: underline;
}
.promociones{
  margin-bottom: 7%;
}
.promos{
  display: flex;
}
.imgPromo {
  display: flex;
  flex: 65%;
  max-width: 65%;
  justify-content: flex-start;
}
.textoPromo{
  flex:35%;
  max-width: 35%;
  display: flex; 
  flex-wrap: wrap;
  color: var(--ColorRefuerzo);
  justify-content: flex-end;
}
/*Contacto*/
.Localizar{
  color: var(--ColorSecundario);
}
.Localizar iframe{
  width: 75%;
  height: 65%;
}
/*Footer*/
.licenciasLegales {
    background-color: var(--ColorPrincipal);
    padding-top: 10px;
    display: flex;
}

    
.licenciasLegales a{
    color: beige;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right:10px
    
}
.creativeCommons{
    display: flex;
    flex: 34%;
    max-width: 34%;
    justify-content: flex-start;
    flex-direction: column;
}
.creativeCommons a{
    size: 6px;
}
.menuFooter{
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.5;
    display: flex;
    flex: 66%;
    max-width: 66%;
    justify-content: flex-end;
    align-items: center;
}



@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  

  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    padding:20%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
    margin-top: 20;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    margin-bottom: 20;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-image:url(/img/fiestacine.png);
    counter-increment: item;
  }
  
 /*  .carousel__slide:nth-child(even) {
    background-image: url(/img/guardianes-galaxia-3.png);
  } */

  .carousel__slide:nth-child(2) {
    background-image: url(/img/spiderman.png);
  }
  .carousel__slide:nth-child(3) {
    background-image: url(/img/super-mario-bross.png);
  }
  .carousel__slide:nth-child(4) {
    background-image: url(/img/guardianes-galaxia-3.png);
  }
  
  .carousel__slide:before {
   /* content: counter(item);*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
 /* 
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }*/

  @media (max-width:1140px){
    .contenedor{
        width: 80%;
    }
  }
  @media(max-width:768px){
    .contenedor{
        width: 90%;
        margin: 0 auto 0 auto;
    }
    /*Menu Pincipal*/
    .menu{
        flex-wrap: wrap;
        display: block;
        text-align: center;
    }
    .menu a{
        margin: 2px;
        border-top:1px solid var(--ColorSecundario);
        padding: 10px 0px;
        display: block;
    }
    /*carousel*/
    .carousel{
      display: none;
    }
    /*peliculas*/
    .peliculas{
      display: block;
      max-width: fit-content;
      text-align: center;
    }
    .Proximamente{
      display: none;
    }
    /*footer*/
      .licenciasLegales{
        display: block;
        margin-top: 5%;
      }
      .creativeCommons{
        max-width: fit-content;
      }
      .menuFooter{
        display: block;
        border-top:1px solid var(--ColorSecundario);
      }
  }